{% extends "layout.html" %}
{% block title %}Robertson Development{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
    {% block header %}
      {{ super() }}
    {% endblock%}
    {% block content %}
      {{ super() }}
    <div class="subhead-wrapper">
      <div id="subhead-gutter-left"></div>
      <div id="subhead-center">
        <div class="city">
          <h1><span class="title">Zip Code:</span>&nbsp;&nbsp;&nbsp; {{zipcode}}</h1>
          <h1><span class="title">City:</span>&nbsp;&nbsp;&nbsp; {{city}}, {{country}}</h1>
        </div>
      </div>
      <div id="subhead-gutter-right"></div>
    </div>
    <div class="graph-wrapper">
      <div id="graph-gutter-left">
      </div>
      <div id="graph-body-center">
        <div id="graph">
          <embed id="graph-image" type="image/svg+xml" src="{{graph_data|safe}}"></embed>
        </div>
      </div>
      <div id="graph-gutter-right">
      </div>
    </div>
    {% endblock %}
    {% block footer %}
      {{ super() }}
    {% endblock %}