{% extends "layout.html" %}
{% block title %}Robertson Development{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
    {% block header %}
      {{ super() }}
    {% endblock%}
    {% block content %}
      {{ super() }}
      <div class="temp-wrapper">
      	<div id="temp-gutter-left"></div>
      	<div id="temp-form">
          <div class="entry">
            <h1>Current Temperature</h1>
        		<form method="POST">
              {{form.hidden_tag()}}
              <p>
          			{{ form.zipcode.label }}<br><br>
          			{{ form.zipcode() }} {% for error in form.zipcode.errors %}[{{ error }}]{% endfor %}
          			{{ form.submit() }}
              </p>
        		</form>
          </div>
      	</div>
      	<div id="temp-gutter-right"></div>
      </div>
    {% endblock %}
    {% block footer %}
  		{{ super() }}
	{% endblock %}